<div class="container-icon">
  <mat-icon mat-dialog-close>close</mat-icon>
</div>

<div class="container">
  <ol>
    <li>Determine the width and height in millimeters for the individual card size for bulk printing.</li>
    <li>Choose a version. By default, the system chooses the latest version, and you can easily switch to the one you need.</li>
    <li>Select a sequence of tags (or add your own) in the order in which you want them printed.</li>
    <li>The template must contain at least 1 tag.</li>
    <li>All tags will be added to the template with a space.</li>
    <li>Add teg '@' if you need to start on a new line</li>
    <li>Press Print</li>
    <li>PDF file for print will open in new tab</li>
  </ol>
</div>
