button span.material-icons.person{
  font-size: 36px;
  border: 2px solid #9d7828;
  border-radius: 50%;
}

#settings-icon,
#logout-icon,
#login-icon,
#reg-icon {
  position: relative;
  margin-right: 7px;
  top: 7px;
  color: #9d7828;
}
