.mat-mdc-raised-button {
  width: 15px;
  --mdc-protected-button-container-color: #e7db9b;
  --mdc-protected-button-label-text-color: #9d7828;
}

.container {
  margin-top: 10px;
  justify-content: flex-start;
}
