.mat-mdc-raised-button {
  --mdc-protected-button-container-color: #e7db9b;
  --mdc-protected-button-label-text-color: #9d7828;
}

.container.row {
  margin-top: 15px;
  justify-content: flex-end;
}

#checked-review {
  width: auto;
}
