#finding-detail{
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
  padding: 20px;
}
.breadcrumb{
  opacity: 50%;
}
.print-tags,
.help{
  text-align: right;
}
button{
  margin-left: 10px;
}
.help{
  color: #e7db9b;
}

#print-button{
  color: #e7db9b;
  background-color: #9d7828;
}
#finding-detail{
  width: 90%;
}
mat-slide-toggle{
  margin-top: 15px;
  margin-bottom: 15px;
}
.reviewer-name{
  margin-top: 30px;
  margin-bottom: 30px;
}
.mdc-checkbox__native-control mdc-checkbox--selected{
  //color = 'primary';
  //background-color: #9d7828;!important;
}
mat-checkbox {
  color: #9d7828;
}
.sliders-bar{
  //display: inline-flex;
}
