.collection-form{
  text-align: center;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px;
}
span{
  background-color: #e7db9b;
}


#review-sex,
#review-species-select,
#review-comment {
  width: 350px;
}
