.collection-form{
  text-align: center;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px;
}

#number,
#location_latitude,
#location_longitude,
#location_altitude,
#species-select,
#sex,
#comment {
  width: 350px;
}

.mat-mdc-dialog-content {
  margin-top: 10px;
}
