.breadcrumb{
  opacity: 50%;
}
 #bee {
   width: 600px;
   text-align: center;
   margin-top: 50px;
   button{
     margin-right: 20px;
     margin-top: 20px;
   }
}
.open-search-form{
   text-align: center;
}
