<div class="collection-form">
  <div class="container-icon">
    <mat-icon  mat-dialog-close>close</mat-icon>
  </div>
  <h4>Search by Latin or trivial name</h4>
  <div mat-dialog-content>
    <div class="card-body mt-3">
      <form [formGroup]="searchForm" (ngSubmit)="newSearch()">
        <app-species-filter
          (selectedEvent)="speciesSelectedEvent($event)"
          [formControl]="searchForm.controls.id">
        </app-species-filter>
        <div mat-dialog-actions align="end">
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-button
                  type="submit"
          >Show</button>
        </div>
      </form>
    </div>
  </div>
</div>


